<article class="ui fluid container">
    <div class="top-header ui segment bf -reset -border -border-radius">
        <div class="ui header">Listing & Filter</div>
    </div>

    <div class="content-body">
        <form class="filter ui form small bf -reset -border">
            <div class="ui grid bf -reset -margin-top -margin-bottom">
                <div class="sixteen wide mobile eight wide tablet eight wide computer column bf -reset -padding-tb">
                    <div class="field search-wrap">
                        <label>Search</label>
                        <div class="ui search">
                            <div class="ui fluid left icon input">
                                <input type="text" placeholder="Search">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide mobile eight wide tablet eight wide computer column bf -reset -padding-tb">
                    <div class="two fields">
                        <div class="field">
                            <label>Last Active From</label>
                            <input type="text" placeholder="YYYY-MM-DD" #datePickerFrom>
                        </div>
    
                        <div class="field">
                            <label>Last Active Till</label>
                            <input type="text" placeholder="YYYY-MM-DD" #datePickerTill>
                        </div>
                    </div>
                </div>
    
                <div class="sixteen wide mobile eight wide tablet eight wide computer column bf -reset -padding-tb">
                    <div class="two fields">
                        <div class="field">
                            <label>Created From</label>
                            <input type="text" placeholder="YYYY-MM-DD" #createdDatePickerFrom>
                        </div>
    
                        <div class="field">
                            <label>Created Till</label>
                            <input type="text" placeholder="YYYY-MM-DD" #createdDatePickerTill>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide mobile eight wide tablet eight wide computer column bf -reset -padding-tb">
                    <div class="two fields">
                        <div class="field">
                            <label>Status</label>
                            <ng-select placeholder="Select" 
                                [searchable]="false">
                                <ng-option value="active">Active</ng-option>
                                <ng-option value="inactive">InActive</ng-option>
                            </ng-select>
                        </div>

                        <div class="field">
                            <label>ID</label>
                            <input type="text" placeholder="ID">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
        <div class="table-style-one">
            <div class="table-title">
                <div class="title">Listing</div>

                <div class="col">
                    <button class="ui button icon"><i class="plus icon"></i></button>
                </div>

                <div class="col right-col">
                    <button class="ui button icon"><i class="download icon"></i></button>
                    <button class="ui button icon"><i class="at icon"></i></button>
                </div>
            </div>

            <ngx-datatable class="material bf -reset -boxshadow"
                [rows]="rows"
                [columnMode]="'flex'"
                [headerHeight]="'auto'"
                [footerHeight]="'auto'"
                [rowHeight]="'auto'"
                [limit]="20"
                [selectAllRowsOnPage]="false">
    
                <ngx-datatable-column
                    name="ID"
                    prop="id"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell link" [routerLink]="[row.id]">
                            {{row.id}} 
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Name"
                    prop="name"
                    [flexGrow]="4"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.name }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Email"
                    prop="email"
                    [flexGrow]="4"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.email }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Status"
                    prop="status"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.status }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Created At"
                    prop="created"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.created }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Updated At"
                    prop="updated"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.updated }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column
                    name="Last Active"
                    prop="lastActive"
                    [flexGrow]="2"
                    [resizeable]="false"
                    [draggable]="false">
                    <ng-template
                        let-row="row"
                        ngx-datatable-cell-template>
                        <div class="col-cell">
                            {{ row.lastActive }}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</article>