<article>
    <div class="ui grid bf -reset -margin">
        <div class="sixteen wide tablet eight wide computer column form-area" id="-left"
            *ngIf="formName.signUp.status">
            <div class="content-wrap">
                <img class="ui centered image logo" id="logo" src="./assets/img/logo.png">

                <h3 class="bf -reset -margin-top">Sign Up</h3>

                <div class="ui form">
                    <div class="field">
                        <input type="text" placeholder="Name">
                    </div>

                    <div class="field">
                        <input type="text" placeholder="Email">
                    </div>

                    <div class="field">
                        <input type="text" placeholder="Password">
                    </div>

                    <div class="field">
                        <input type="password" placeholder="Confirm Password">
                    </div>

                    <div class="field">
                        <div class="ui button primary fluid">
                            Sign Up
                        </div>
                    </div>

                    <div class="field bf -text-align -center">
                        <a class="ui small text link" id="fp"
                            (click)="formSelector('signIn')">
                            Back to Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sixteen wide tablet eight wide computer column form-area" id="-right"
            *ngIf="formName.signIn.status">
            <div class="content-wrap">
                <img class="ui centered image" id="logo" src="./assets/img/logo.png">

                <h3 class="bf -reset -margin-top">Sign In</h3>

                <h4 class="bf -reset -margin-top -font -weight-400">
                    Need an account?
                    <a class="link"
                        (click)="formSelector('signUp')">
                        Get started!
                    </a>
                </h4>

                <div class="ui form">
                    <div class="field">
                        <input type="text" placeholder="Email">
                    </div>

                    <div class="field">
                        <input type="text" placeholder="Password">
                    </div>

                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label>Remember Me</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui button primary fluid">
                            Sign in
                        </div>
                    </div>

                    <div class="field bf -text-align -center">
                        <a class="ui small text link" id="fp"
                            (click)="formSelector('forgotPassword')">
                            Forgot password?
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sixteen wide tablet eight wide computer column form-area" id="-left"
            *ngIf="formName.forgotPassword.status">
            <div class="content-wrap">
                <img class="ui centered image" id="logo" src="./assets/img/logo.png">

                <h3 class="bf -reset -margin-top">Reset your password</h3>

                <h4 class="bf -reset -margin-top -font -weight-400">
                    Type your email address to send instructions to reset your password to your inbox.
                </h4>

                <div class="ui form">
                    <div class="field">
                        <input type="text" placeholder="Email">
                    </div>

                    <div class="field">
                        <div class="ui button primary fluid">
                            Reset Password
                        </div>
                    </div>

                    <div class="field bf -text-align -center">
                        <a class="ui small text link" id="fp"
                            (click)="formSelector('signIn')">
                            Back to Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="eight wide column animate__animated computer only" id="bg-img"
            [ngClass]="slideAction">
            <a id="img-content">
                <img width="160" src="/assets/img/img-logo.png" alt="Logo"><br><br>
                <p id="img-text">Explore all the exciting new capabilities and enhancements we've made to NGX Globular over
                    the last 8 weeks!</p>
            </a>
        </div>
    </div>
</article>
