<div class="app-wrapper" [ngClass]="toggle">
    <div class="app-menu bf -position -fixed" [appMenu]="toggle"
        [ngStyle]="{transform: !(toggle['open'] || toggle['hover']) ? 'translate3d(-100%, 0, 0)' : ''}">
        <div class="ui secondary vertical menu inverted">
            <div class="logo">
                <img class="ui mini image" src="assets/img/circled-a-50.png">
            </div>

            <a class="item" [routerLink]="['listing-filter']" [routerLinkActive]="['active']">
                <i class="graduation cap icon small"></i>
                Listing & Filter
            </a>
            <a class="item">
                <i class="book open icon small"></i>
                Course
            </a>
            <a class="item">
                <i class="book reader icon small"></i>
                Lesson
            </a>
            
            <div class="ui accordion inverted" #examsSubmenu>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Exams
                </div>
                <div class="content">
                    <div>
                        <a class="item"><i class="book reader icon small"></i>Exam Schedule</a>
                        <a class="item"><i class="book reader icon small"></i>Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="app-menu-btn bf -position -absolute -text-align -center" [appMenu]="toggle" [click]="true"></a>

    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
</div>
