
<div class="app-wrapper static">
    <div class="app-menu bf -position -fixed">
        <div class="ui secondary vertical menu inverted">
            <div class="logo">
                <img class="ui mini image" src="assets/img/circled-b-50.png">
            </div>
            
            <a class="item" [routerLink]="['text-page']" [routerLinkActive]="['active']">
                <i class="graduation cap icon small"></i>
                Testing
             </a>
             <a class="item">
                <i class="book open icon small"></i>
                 Course
             </a>
             <a class="item">
                <i class="book reader icon small"></i>
                 Lesson
             </a>
        </div>
    </div>

    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
</div>