@import "_bf-breakpoints";

@keyframes SlideRight {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 50%;
    }
}

@keyframes SlideLeft {
    from {
        margin-left: 50%;
    }

    to {
        margin-left: 0;
    }
}

.slide-right {
    -webkit-animation-name: SlideRight;
    animation-name: SlideRight;
}

.slide-left {
    -webkit-animation-name: SlideLeft;
    animation-name: SlideLeft;
}

article {
    display: flex;
    height: 100%;

    .grid {
        position: relative;
        width: 400px;
        background: #fff;
        min-height: 500px;
        height: 525px;
        margin: auto !important;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);

        @include breakpointMin("monitor-sm") {
            width: 800px;
        }

        @include breakpointUpToMax("mobile") {
            height: 667px;
            box-shadow: none;
        }

        .column {
            &#bg-img {
                background-image: url(/assets/img/login.png);
                display: flex;
                height: 100%;
                padding: 2rem;
                background-color: #07265f;
                background-position: 50%;
                background-size: cover;

                #img-content {
                    align-self: flex-end;
                }

                #img-text {
                    color: #000;
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: .7px;
                    line-height: 29px;
                    word-spacing: 2px;
                }
            }

            &.form-area {
                position: absolute;
                background-color: #ffffff;

                @include breakpointUpToMax("mobile") {
                    width: 375px;
                    height: 667px;
                }

                &#-right {
                    right: 0;
                    margin-left: auto;
                }

                &#-left {
                    left: 0;
                    margin-right: auto;
                }

                .link {
                    cursor: pointer;
                }

                .form {
                    text-align: left;
                    margin-top: 20px;

                    #fp.ui.small.text {
                        color: gray;
                    }

                    .field {
                        margin-bottom: 20px;

                        .ui.checkbox label:before,
                        input[type=email],
                        input[type=password],
                        input[type=text] {
                            border-color: #c7cfd8;
                        }

                        input::placeholder {
                            color: rgb(160, 160, 160);
                        }
                    }

                }
            }

            .content-wrap {
                text-align: center;
                padding: 36px;
                padding-top: 86px;

                h3 {
                    font-size: 20px;
                }

                h4 {
                    font-size: 14px;
                }

                #logo {
                    position: absolute;
                    top: 30px;
                    height: 25px;
                    left: 0;
                    right: 0;
                    margin: auto;

                    @include breakpointMin("monitor-sm") {
                        left: 30px;
                        right: auto;
                    }
                }
            }
        }
    }
}
