.filter {
    margin: 7px 0 30px;

    .ui.grid {
        margin-left: -.5rem;
        margin-right: -.5rem;

        .column {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    label {
        color: #7E8299 !important;
    }

    input[type="text"] {
        border: 0 !important;
    }

    select.ui.dropdown {
        border: 0 !important;
        height: 32.63px !important;
    }

     .ng-select.ng-select-single ::ng-deep .ng-select-container {
        height: 32.63px;
        border: none;
        min-height: 32.63px;
    }
}