:host ::ng-deep .table-style-one {
    .table-title {
        position: sticky;
        top: 64px;
        background: #eef0f8;
        display: flex;
        align-items: flex-end;
        z-index: 3;

        .title {
            display: inline-flex;
            align-items: center;
            height: 25px;
            line-height: 25px;
            border: 1px solid transparent;
            border-radius: 3px 3px 0 0;
            font-size: 12px;
            color: #808080;
            text-transform: uppercase;
            font-weight: 600;
            margin-right: 15px;
        }

        .col {
            line-height: 25px;

            .button {
                background: none;
                padding: 5.5px;
                color: #808080;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background: #e6e6e6;
                }
            }

            &.right-col {
                margin-left: auto;
            }
        }
    }

    .ngx-datatable {
        border-left: 3px solid #808080;
        overflow: inherit;

        .datatable-scroll,
        .datatable-header-inner,
        .datatable-scroller,
        .datatable-row-center,
        .datatable-body-row {
            width: 100% !important;
        }

        .progress-linear {
            position: relative !important;

            .container {
                max-width: 100% !important;
            }
        }

        .datatable-header-inner {
            height: inherit;
        }

        .datatable-header {
            background: #808080;
            border: 1px solid #808080;
            position: sticky;
            top: 90px;
            z-index: 15;
        }

        .datatable-row-left {
            display: none !important;
        }

        .datatable-header-cell {
            background: #808080;
            padding: .3em .5em;
            align-self: center;
            color: #fff;

            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding-right: 1rem;
            }
        }

        .datatable-header-cell-label {
            font-size: 12px;
            color: #fff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .datatable-row-even {
            background: #ffffff !important;
        }

        .datatable-row-odd {
            background: #F7F7F7 !important;
        }

        .datatable-body-row {
            width: 100% !important;
        }

        .datatable-body-cell {
            font-size: 12px !important;
            padding: .5rem !important;
            word-break: break-word;

            &:first-child {
                padding-left: 1rem !important;
            }

            &:last-child {
                padding-right: 1rem !important;
            }

            &.middle {
                display: flex;

                .datatable-body-cell-label {
                    align-self: center;
                }
            }

            &.right {
                text-align: right;
            }

            &.center {
                text-align: center;
            }
        }

        .datatable-footer {
            overflow: visible;
            border-top: 0;
            position: sticky;
            bottom: 0;
            z-index: 10;
            background: white;
            bottom: 21px;

            &:after {
                content: "";
                background: #eef0f8;
                position: absolute;
                left: -3px;
                right: 0px;
                height: 1.7em;
                bottom: -21px;
            }

            .datatable-pager {
                ul.pager {
                    li {
                        &.active {
                            a {
                                background-color: #808080;
                                color: #ffffff;
                                // border: 0;
                            }
                        }

                        a {
                            // color: #4D4F5C;
                            // height: 27px;
                            // line-height: 27px;
                            // width: 27px;
                            // border: solid 1px #e8e9ec;
                            // padding: 0;

                            i {
                                // padding: 0 !important;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }

    // .alert {
    //     position: absolute;
    //     width: 100%;
    //     bottom: 0px;
    //     left: 0;
    //     text-align: center;
    //     right: 0;
    // }

    // .table-loading {
    //     position: fixed;
    //     bottom: 0;

    //     >div {
    //         position: absolute;
    //         right: -110px;
    //         bottom: 26px;
    //     }
    // }
}