.app {
    &-wrapper {
        height: 100%;
        margin-left: 55px;
        overflow-y: scroll;

        &.open {
            margin-left: 250px;

            .app {
                &-menu {
                    transform: translate3d(0, 0, 0);

                    &-btn {
                        background: #fff;
                        color: var(--primary-color);
                        margin-left: 250px;

                        &:hover {
                            border-color: var(--primary-color);
                        }

                        &::before {
                            content: "\f104";
                            margin-left: 0px;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }

        &.hover {
            .app {
                &-menu {
                    transform: translate3d(0, 0, 0);
                }
            }
        }

        &.static {
            margin-left: 195px;

            .app-menu {
                margin-left: 0;
            }
        }
    }

    &-menu {
        bottom: 0px;
        left: 0px;
        top: 0px;
        margin-left: 55px;
        overflow-x: hidden;
        background-color: #2b343b;
        width: 195px;
        height: 100%;
        overflow-y: auto;
        box-shadow: 1px 0 2px 0 rgba(34, 36, 38, .15);
        transition: transform .3s ease;
        z-index: 8;

        .ui.vertical.menu {
            width: 100%;
            margin: 0;

            .item,
            .ui.accordion .title {
                display: flex;
                align-items: center;
                margin: 0 7px 2px;
                padding: 7px;
                border-radius: 5px;

                .icon {
                    line-height: 20px;
                    width: 20px;
                    height: 20px;
                    background: #414448;
                    border-radius: 3px;
                    margin-right: 5px;
                    margin-left: 0;
                }

                &:hover,
                &.active,
                &.active:hover {
                    background: rgb(86 103 116 / 50%);

                    .icon {
                        color: #fff;
                        background: var(--primary-color);
                    }
                }
            }

            .ui.accordion {
                .title {
                    color: rgba(255, 255, 255, .7);

                    .icon {
                        background: none;
                    }

                    &:hover,
                    &.active,
                    &.active:hover {
                        background: none;
                        color: #fff;

                        .icon {
                            color: #fff;
                            background: none;
                        }
                    }
                }

                .content {
                    padding-top: 0;
                }
            }

            .logo {
                margin-top: 1em;
                margin-bottom: 1em;
                height: 36px;
                padding: 0 1em;
            }
        }

        &-btn {
            background-color: var(--primary-color);
            border-radius: 50%;
            border: 1px solid #dadce0;
            color: #fff;
            cursor: pointer;
            width: 20px;
            height: 20px;
            top: 21px;
            left: -10px;
            line-height: 20px;
            font-family: Icons;
            font-size: 12px;
            z-index: 9;
            transition: opacity .2s;
            margin-left: 55px;

            &::before {
                content: "\f105";
                margin-left: 2px;
                margin-right: 0;
            }

            &:hover {
                border: 1px solid var(--primary-color);
            }
        }
    }

    &-body {
        height: 100%;
        width: 100%;
    }
}