.container-layout {
    width: 100%;
    height: 100%;

    .app-sidebar {
        height: 100%;
        border-right: 1px solid #272727;
        background: #2b343b;
        z-index: 9;
        bottom: 0px;
        left: 0px;
        top: 0px;
        display: grid;
        grid-template-rows: 1fr auto;

        .app-logo {
            margin-top: 1em;
            margin-bottom: 1em;
            cursor: pointer;
            height: 36px;
        }

        .ui.vertical.menu {
            width: 55px;
            margin: 0;

            .app-item {
                padding: 0;
                margin-top: .5em;
                display: block;

                &.active {
                    >div {
                        background-color: var(--primary-color);
                        color: #fff;

                        &:hover {
                            background-color: var(--primary-color);
                        }
                    }
                }

                >div {
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                    display: inline-block;
                    border-radius: 4px;
                    color: rgba(255, 255, 255, .7);

                    &:hover {
                        background: rgba(30, 39, 46, .5);
                        color: #fff;
                    }
                }
            }
        }

        .ui.dropdown {
            padding: 1em 0;
            border-top: solid 1px #1e272e;

            img {
                margin: auto;
            }

            .menu {
                margin-left: 10px;
                margin-bottom: 0px;
            }
        }
    }
}