.tab-header {
    &-wrap {
        padding: .5em 1.5em;

        .breadcrumb {
            .section {
                font-size: 10px;
                font-weight: bolder;
                text-transform: uppercase;
                color: #444;
                letter-spacing: 0.5px;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        h3.header {
            margin: 0;
            color: #444;
        }

        .ui.menu {
            border-bottom: 2px solid #e3e3e3;

            .item {
                color: #B2B2B2;

                &:active {
                    border-color: transparent;
                }

                &:hover {
                    color: var(--primary-color);
                }

                &.active {
                    color: var(--primary-color);
                    font-weight: 400;
                    border-color: var(--primary-color);
                }
            }
        }
    }
}