.top-header {
    position: sticky;
    top: 0;
    z-index: 7;
    padding: 1.6em 1.5em 1.5em !important;

    .ui.header {
        color: #3e3e3e;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }
}