<article class="ui fluid container tab-header">
    <div class="tab-header-wrap">
        <div class="ui breadcrumb mini">
            <a class="section" 
                [routerLink]="['/a/listing-filter']">Listing & Filter</a>
        </div>

        <h3 class="ui header">
            John Smith
        </h3>

        <div class="ui pointing secondary menu huge">
            <a class="item active">
                Tab One
            </a>

            <a class="item">
                Tab Two
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</article>