<div class="container-layout">
    <div class="app-sidebar bf -position -fixed" [appMenu]="toggle" [enter]="true">
        <div class="ui secondary vertical menu bf -position -relative -text-align -center">
            <div class="app-logo">
                <div class="svg" *ngIf="!loading">
                    <svg enable-background="new 0 0 32 32" height="32" viewBox="0 0 512 512" width="32"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m512 256c0 66.48-25.35 127.04-66.89 172.55-34.15 37.4-79.23 64.63-130.19 76.63-31.81-33.24-84.81-33.6-117.07-.79l-.78.79c-50.96-12-96.04-39.24-130.18-76.63-14.46-15.84-26.96-33.5-37.1-52.61-16.35-30.76-26.61-65.26-29.16-101.88-.42-5.96-.63-11.99-.63-18.06 0-46.22 12.25-89.57 33.68-127 44.12-77.07 127.16-129 222.32-129s178.2 51.93 222.32 129c12.98 22.67 22.59 47.52 28.15 73.86 3.46 16.36 5.35 33.28 5.52 50.62.01.84.01 1.68.01 2.52z"
                            fill="#4b4a59" />
                        <path
                            d="m256 429.57h-58.93c-11.67-4.93-22.59-11.31-32.56-18.84l-49.44 24.11c-7.63 3.72-16.85.91-21.1-6.45l-38.95-67.47c-4.25-7.36-2.09-16.73 4.97-21.5l45.63-30.79c-.77-6.15-1.2-12.41-1.2-18.77s.43-12.62 1.2-18.78l-45.63-30.78c-7.06-4.77-9.22-14.14-4.97-21.5l38.95-67.47c4.25-7.36 13.47-10.17 21.1-6.45l49.44 24.11c9.97-7.54 20.89-13.92 32.58-18.84l3.84-54.83c.59-8.49 7.62-15.05 16.12-15.05h38.95l29.45 62.73c43.95 93.62 32.62 203.85-29.45 286.57z"
                            fill="#4086f5" />
                        <path
                            d="m452.13 339.48 12.34 8.32-6.72 11.64c-.22.5-.47.99-.75 1.48l-38.96 67.47c-.28.48-.58.94-.89 1.38l-6.71 11.61-12.8-6.24c-.23-.1-.46-.19-.69-.3l-49.47-24.11c-9.97 7.53-20.86 13.91-32.55 18.84h-58.92v-349.3h54.03l1.04 14.85.01.2 3.84 54.83c11.69 4.92 22.58 11.3 32.55 18.84l49.4-24.09.18-.09 13.38-6.53 6.96 12.06c.22.32.44.65.64.99l38.96 67.47c.21.37.4.75.58 1.13l6.89 11.93-11.78 7.95c-.22.16-.43.34-.66.49l-45.64 30.78c.78 6.16 1.21 12.42 1.21 18.78s-.43 12.62-1.21 18.77h.01l45.56 30.74z"
                            fill="#4175df" />
                        <path
                            d="m260.74 511.95c-1.57.04-3.15.05-4.73.05h-.01c-20.28 0-40.01-2.36-58.92-6.82v-122.92c-27.63-18.05-46.7-48.34-49.09-83.09-2.72-39.61 15.88-75.05 45.46-96.02.71-.37 1.38-.77 2.02-1.2 6.42-4.34 13.33-8.01 20.63-10.91v90.53c0 8.52 4.54 16.37 11.92 20.64l16.07 9.26c3.7 2.14 7.81 3.2 11.92 3.2l.73 1.91c23.91 62.83 25.23 131.88 4 195.37z"
                            fill="#fff" />
                        <path
                            d="m364.3 291.52c0 38.07-19.66 71.53-49.37 90.85v122.81c-17.44 4.11-35.57 6.44-54.19 6.77-1.57.04-3.15.05-4.73.05v-197.33c4.13 0 8.22-1.06 11.92-3.2l16.05-9.26c7.38-4.27 11.92-12.12 11.92-20.64v-90.65c6.34 2.5 12.38 5.57 18.07 9.16.34.21.69.42 1.05.61.16.14.32.26.47.36 29.4 19.34 48.81 52.64 48.81 90.47z"
                            fill="#d2f5ff" />
                    </svg>
                </div>
                <div class="ui active centered inline loader small" *ngIf="loading"></div>
            </div>

            <a class="app-item" [routerLink]="['/a']" [routerLinkActive]="['active']">
                <div class="alphabets bf -font -bold">A</div>
            </a>

            <a class="app-item" [routerLink]="['/b']" [routerLinkActive]="['active']">
                <div class="alphabets bf -font -bold">B</div>
            </a>
        </div>

        <div class="ui bottom left pointing dropdown" #logout>
            <img class="ui image mini" src="http://assets.almaghrib.org/img/common/avatars/default.png">
            <div class="menu">
                <div class="item">
                    <i class="sign out alternate icon"></i>
                    Sign Out
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>